.chatsection{
    background-color: var(--background-color);
    height: 100vh;
    flex: 1;
    
}
.topsection{
    width: 100%;
    height: 75vh;
    background-color:var(--background-color);
}
.bottomsection{
    width:100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bottomsection input{
    width: 50%;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    border-radius: 40px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 10px rgb(83, 83, 83);
}



#sendbtn{
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: var(--btn-background-color);
    transition: all 0.5s;
    box-shadow: 2px 2px 10px rgb(83, 83, 83);
    color: var(--btn-color);
}
#sendbtn:hover{
    background-color: var(--hover-btn-background-color);
}
#sendbtn svg{
    width: 30px;
    height: 30px;
    color: var(--btn-color);
}
.heading{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vmax;
}
.heading span:nth-child(1){
    font-size: 3em;
    font-weight: 500;
    background: linear-gradient(to right,rgb(131, 197, 255),rgb(242, 56, 171),rgb(225, 47, 249));
    background-clip: text;
    color: transparent;
    
}
.heading span:nth-child(2){
    font-size: 1.6em;
    font-weight: 250;
    background: linear-gradient(to right,rgb(83, 175, 255),rgb(226, 158, 199),rgb(215, 72, 255));
    background-clip: text;
    color: transparent;
    
}
.heading span:nth-child(3){
    font-size: 1em;
    font-weight: 200;
    background-clip: text;
    color: var(--color);
    opacity: 0.8;
    
}
 .userbox{
    display: felx;
    gap: 20px;
    align-items: start;
    color: var(--color);
 }

 .aibox{
    display: felx;
    gap: 20px;
    align-items: start;
    color: var(--color);
    
 }
 .aibox p{
    width: 100%;
    height: 410px;
    overflow: auto;
    scrollbar-width: none;
 }

 .result{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    font-size: 20px;
 }

 .result img{
    filter: drop-shadow(2px 2px 10px black);

 }

 .loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .loader hr{
    height: 20px;
    border: none;
    background-color: aliceblue;
    border-radius: 10px;
    background: linear-gradient(to right,rgb(61, 236, 255), var(--background-color),rgb(61, 236, 255));
    background-size: 800px 50px;
    animation: loader 2s linear  infinite;
 }

 @keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
 }

